.app-header {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 8px #330303;
  z-index: 10;
  background: #b63f3f;
  padding: 2px 15px;
}

.app-header .header {
  color: #fff;
}

#title {
  position: relative;
  font-size: 15px;
  width: 100%;
}

#sub-title {
  font-size: 14px;
  font-weight: 600;
}

#new-poll {
  position: absolute;
    top: 0.5em;
    left: auto;
    bottom: 0;
    right: 0;
    height: 2.5em;
}
